
a{
text-decoration: none ;
Size:12px;
Line-height:16px;
letter-spacing:4%;
Decoration:Underline;
}
ul,ol{
list-style-type:none;
}
[type] {
color: #4D5AE5;
background-color:rgba(244, 244, 253, 1);
padding:12px 24px;
border-radius:4px;
cursor:pointer;
font-family:inherit;
}
[type]:hover{
color: #FFF;
border-radius:4px;
background: var(--ocean, #404BBF);
box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
font-family: inherit;
}
.click-bth{
display:inline-flex;
padding:16px 32px;
align-items:flex-start;
gap:10px;
cursor:pointer;
font-family:inherit;
}
.text{
font-size:16px;
font-weight:400;
line-height:24px;
letter-spacing:0.32px;
}
.header-title-icon{
background-color: #2E2F42;
width:1440px;
height:600px;
}

.header-title{
color: var#FFF;
text-align: center;
/* Header 1 */
font-size:56px;
line-height:1.7;
letter-spacing:2%;
}

body{
font-family: Roboto;
letter-spacing:2%;
font-weight:400;
font-size:16px;
line-height:24px;
text-align:center;
}

.caption-list{
}

.caption{
width:1440px;
height:2592px;
background-color: #FFF;
}
.h2{
width: 1128px;
height: 412px;
flex-shrink: 0;
}
/*section3*/
.oul-team{
background-color: #F4F4FD;
width:1440px;
height:732px;
flex-shrink:0;
}

.pic{
background: lightgray;
}

.img{
width:264px;
height:260px;
background: lightgray;
}

span{
color: #4D5AE5;
font-family: Raleway;
font-size:18px;
font-weight:800;
line-height:1.16px;
letter-spacing:0.54px;
text-transform: uppercase;
}
.footer{
background-color: #2E2F42;
flex-shrink:0;
}
.footer-logo{
    color: #F4F4FD;
    font-family: Raleway;
    font-size:18px;   
    font-weight:800;
    line-height:1.16px;
    letter-spacing:0.54px;
    text-transform: uppercase;
}
.footer.text{
color: rgba(244, 244, 253, 1);
/* Body */
font-size:16px;
font-weight:400;
line-height:1.05;
letter-spacing:0.32px;
}