:root{
--brand-color: #4D5AE5;
--brand-color: var(--iris, #4D5AE5);
--brand-color:-brand #FFF;
--brand-color:-brand #F4F4FD;
--brand-color:-brand #FFFFFF;
--brand-color: var(--cloud, #F4F4FD);
--brand-color:-brand #2E2F42;
--brand-color: var(--slate, #434455);

--brand-background-color: #4D5AE5;
--brand-background-color: #404BBF;
--brand-background-color: #F4F4FD;
--brand-background-color:rgba(244, 244, 253, 1);
--brand-background-color: var(--navyblue, #2E2F42);
}

a{
text-decoration:none;
}
ul,ol{
list-style-type:none;
}

/*section-1*/
.link{
font-family:'Raleway',sans-serif;
color: var(--iris, #4d59e5);
font-weight:800;
font-size:18px;
line-height:1.17;
letter-spacing:0.03em;
text-transform:uppercase;
text-decoration:none;
}
.list{
list-style:none;

}
.header-link{
text-decoration:none;
}
.span-header{
color: #4d5ae5;
text-decoration:none;
}

.logo-link{
font-family:'Raleway',sans-serif;
color:-brand #2e2f42;
font-weight:800;
font-size:18px;
line-height:1.17;
letter-spacing:0.03em;
text-transform:uppercase;
}
.link-studio{
color: #4d5ae5;
font-family:'Raleway',sans-serif;
font-size:18px;
font-weight:800;
line-height:1.16px;
letter-spacing:0.54px;
text-transform:uppercase;
text-decoration:none;
}


/*button-1>all*/
.click-all{
font-family:"Roboto",sans-serif;
font-weight:500;
font-size:16px;
line-height:1.5;
letter-spacing:0.04em;
color: #4d5ae5;
background-color: #F4F4FD;
font-family:inherit;
cursor:pointer;
}
.click:hover{
font-family:inherit;
color: #FFFFFF;
background-color: #404BBF;
}
.click:focus{
color: #FFFFFF;
background-color: #404BBF;
}
/*button-1*/

/*button-2>web-site*/
[type]=button.clik-web-site{
font-family:"Roboto",sans-serif;
font-weight:500;
font-size:16px;
line-height:1.5;
letter-spacing:0.04em;
color: #4d5ae5;
background-color: #F4F4FD;
font-family:inherit;
cursor:pointer;
}
/*button-2*/


/*button-3>app*/
[type]=button.click-app{
font-weight:500;
font-size:16px;
line-height:1.5;
letter-spacing:0.04em;
color: #4d5ae5;
background-color: #F4F4FD;
font-family:inherit;
cursor:pointer;
}
/*button-3*/

/*button-4>desing*/
[type]=button.click-desing{
font-weight:500;
font-size:16px;
line-height:1.5;
letter-spacing:0.04em;
color: #4d5ae5;
background-color: #F4F4FD;
font-family:inherit;
cursor:pointer;
}
/*button-4*/

/*button-5>marketing*/
[type]=button.click-marketing{
font-weight:500;
font-size:16px;
line-height:1.5;
letter-spacing:0.04em;
color: #4d5ae5;
background-color: #F4F4FD;
font-family:inherit;
cursor:pointer; 
}
/*button-5>marketing*/

/*section>1*/

.title-icon{
background: var(--navyblue, #2E2F42);
font-weight:700;
}

.title{
color: var(--white, #FFF);
text-align:center;
/* Header 1 */
font-size:56px;
line-height:1.70;
letter-spacing:0.02em;
}

/*bth-title*/
.click-bth{
font-family: "Roboto", sans-serif;
background-color: #4D5AE5;
font-family:inherit;
font-weight:500;
font-size:16px;
line-height:1.5;
letter-spacing:0.04em;
color: #ffffff;
cursor: pointer;
}
.click-bth:hover{
font-family: "Roboto", sans-serif;
background-color: #404BBF;
font-family:inherit;
font-weight:500;
font-size:16px;
line-height:1.5;
letter-spacing:0.04em;
color: #ffffff;
cursor:pointer;
}

.click-bth:active{
background-color: #404BBF;
cursor:pointer;
}
/*bth-title*/
.text{
font-size:16px;
font-weight:400;
line-height:24px;
letter-spacing:0.32px;
}


body{
font-family:'Roboto', sans-serif;
color: var(--slate, #434455);
background-color:#FFFFFF;
}

.caption-list{
}

.list-caption{
background-color: #FFFFFF;
letter-spacing:0.02em;
}

.h1{
line-height:1.07;
letter-spacing:0.02em;
}

/*section3*/
.h2{
font-size:36px;
line-height:1.11;
text-align:center;
color: #2e2f42;
font-family:"Roboto";san-serift;
font-size:36px;
font-weight: 700;
line-height:40px; /* 111.111% */
letter-spacing:0.72px;
text-transform:capitalize;
}
.oul-team{
background-color: #F4F4FD;
letter-spacing:0.02em;
}
.team{
font-size:36px;
line-height:1.11; 
text-align:center;
letter-spacing:0.02em;
text-transform:capitalize;
color:#2e2f42
}
.list img{
list-style:none;
}
.img{
background-color: #FFFFFF;
}
.team-slogan{
font-weight:500;
font-size:20px;
line-height:1.2;
letter-spacing:0.02em;
color: #2e2f42;
}
.team-clogan-text{
font-size:16px;
line-height:1.5;
letter-spacing:0.02em;
color: #434455;
}



.heading{
font-size:36px;
line-height:1.11;
text-align:center;
letter-spacing:0.02em;
text-transform:capitalize;
color: #2e2f42;
}
list-pic{
background: lightgray;
}
.img{
background: lightgray;
}
.list-picture{
list-style:none;

}



/*footer*/

.footer{
background-color: #2E2F42;
}
.footer-logo-link{
color: var(--cloud, #f4f4fd);
font-family:'Raleway',sans-serif;
line-height:1.17;
font-size:18px;   
font-weight:800;
letter-spacing:0.54px;
text-transform: uppercase;
}
.link-studio{
color: var(--iris, #4d5ae5);
font-family:'Raleway',sans-serif;
font-size:18px;
font-weight:800;
line-height:21px; /* 116.667% */
letter-spacing:0.54px;
text-transform:uppercase;
}
.footer-text{
color: var(--cloud, #F4F4FD);
font-family:"Roboto",sans-serif;;
font-size: 16px;
font-weight: 400;
line-height: 24px; /* 150% */
letter-spacing: 0.32px;
}