:root{
    color: #4D5AE5;
    color: #4d5ae5;
    color: #FFF;
    color: #F4F4FD;
    color: rgba(244, 244, 253, 1);
    color: #2E2F42;

    background: #404BBF;
    
    background-color:rgba(244, 244, 253, 1);
    
    background-color: #2E2F42;
    background-color: #2E2F42;
}

a{
text-decoration: none ;
Size:12px;
Line-height:16px;
}
ul,ol{
list-style-type:none;
}
.list{
list-style:none
}
[type] {
color: #4D5AE5;
background-color:rgba(244, 244, 253, 1);
font-family:inherit;
}
[type]:hover{
color: #FFF;
background: #404BBF;
font-family: inherit;
}
.click-bth{

font-family:inherit;
}
.header-logo{
font-family:"Raleway", sans-serif;
font-weight:800;
font-size:18px;
line-height:1.17;
letter-spacing:0.03em;
text-transform:uppercase;
color: #2E2F42;;
}
span{
    color: #4D5AE5;
    font-family: Raleway;
    font-size:18px;
    font-weight:800;
    line-height:1.16px;
    letter-spacing:0.54px;
    text-transform: uppercase;
    }


.text{
font-size:16px;
font-weight:400;
line-height:24px;
letter-spacing:0.32px;
}
.header-title-icon{
background-color: #2E2F42;
}

.header-title{
color: #FFF;
text-align:center;
/* Header 1 */
font-size:56px;
line-height:1.7;
letter-spacing:2%;
}

body{
font-family:'Roboto', sans-serif;
color: #434455;
background-color:#FFFFFF;
font-weight:400;
font-size:18px;
line-height:24px;
text-align:center;
}

.caption-list{
}

.caption{
background-color: #FFF;
}
.h2{

}
/*section3*/
.oul-team{
background-color: #F4F4FD;
}

.pic{
background: lightgray;
}

.img{
background: lightgray;
}


.footer{
background-color: #2E2F42;
}
.footer-logo{
    color:  #4d5ae5;
    font-family:"Raleway",sans-serif;
    line-height:1.17;
    font-size:18px;   
    font-weight:800;
    letter-spacing:0.54px;
    text-transform: uppercase;
}
.studio{
color: #F4F4FD;
}
.footer-text{
color: rgba(244, 244, 253, 1);
/* Body */
font-size:18px;
font-weight:400;
line-height:1.05;
letter-spacing:0.32px;
}